image:
    tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: common-dev-redis.rdx-works-main.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD:
  REDIS_CLUSTER_MODE: enabled
  PORT: 3000
  INTERNAL_PORT: 3001
  REDIS_TTL: 30

ingress:
  enabled: true
  hosts:
    - host: radix-connect-relay-dev.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    memory: 256Mi

alerts:
  cluster: rdx-works-main-dev
  env: dev
