image: 
    tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: radix-connect-relay-prod-redis.rtlj-prod.internal
  REDIS_PORT: 6379
  REDIS_PASSWORD: 
  PORT: 3000
  INTERNAL_PORT: 3001

ingress:
  enabled: true
  hosts:
    - host: radix-connect-relay.radixdlt.com
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 200m
    memory: 2Gi
  limits:
    memory: 2Gi
